<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="{{ url_for('static', filename='icon_app.ico') }}" type="image/x-icon">

 <!-- Iconos para la aplicación web -->
 <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon_app_180.png') }}">
 <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon_app_192.png') }}">
 <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='icon_app_512.png') }}">
 <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon_app_32.png') }}">
 <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon_app_16.png') }}">

 <!-- Web App Meta Tags -->
 <meta name="apple-mobile-web-app-capable" content="yes">
 <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
 <meta name="apple-mobile-web-app-title" content="Registro CodigosPH">
 <meta name="application-name" content="Registro CodigosPH">
 <meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<title>Registro Apartamentos: {% block title %}{% endblock %}</title>
</head>
<body>
<header class="text-white text-center py-3">
<div class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <!-- <a class="navbar-brand" href="#">Menú</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Registro de Códigos</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administración y Visualización
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('mostrar_tickets') }}">Ver Códigos Registrados</a>
                    <a class="dropdown-item" href="{{ url_for('admin') }}">Panel de Administración</a>
                    <!-- <a class="dropdown-item" href="{{ url_for('graficos') }}">Ver Gráficos</a> -->
                </div>
            </li>
        </ul>
    </div>
</nav>
</div>
<h1>Registro de Códigos</h1>
<h2></h2>
{% if session.get('username') %}
<p>Bienvenido, {{ session['username'] }} | <a href="{{ url_for('logout') }}">Salir</a></p>
{% endif %}
</header>
<main class="container my-5">
{% block content %}{% endblock %}
</main>
<footer class="text-white text-center py-3">
<div class="container">
<p>by JCV</p>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>